.container{
    display: flex;
    flex-direction: column;
}

.titleContainer{
    display: flex;
    justify-content: space-around;
    padding: 0 25px 0 25px;
    margin-bottom: 45px;
    list-style: none;
}

.title{
    margin-right: 60px;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    color:#3E424B;
}


/* .titleHover{
    margin-right: 60px;
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    color: #BB8C5F;
} */

/* .line{
    display: none;
}

.lineHover{
    display: block;
} */



.title:last-child{
    margin-right: 0px;      
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 35px;
    list-style: none;
}